#container{
    max-width: 1280px;
    margin: 0 auto;
}

div a img{
    width: 200px;
    border-radius: 50%;
    border: 15px solid #444444;
    margin-right: 50px;
}

div a img:hover{
    border: 15px solid lightgray;
}

.bubbles{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    background-color: gray;
}

.bubbles div{
    width: 33%;
    margin-left: 100px;
}